html, head, body, #root, main {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
}

script {
    margin: 20px;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #222e6d;
}

/* Links inside the navbar */
.navbar button {
    float: left;
    font-size: 16px;
    background-color: #222e6d;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}

.navbar button:hover {
    background-color: #515776;
    cursor: pointer;
}

/* Right-aligned section inside the top navigation */
.navbar-right {
    float: right;
}

button:hover {
    cursor: pointer;
}

.titel {
    text-align: center;
}


.objecten {
    display: flex;
    margin: 5px;
    justify-content: center;
}

.card-body {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 200px;
}

table {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#tabel-titel {
    border: solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

.VoegToeMed {
    width: 100px;
    height: 50px;
    font-size: large;
    float: right;
    margin-right: 152px;
    margin-top: 50px;
}

.Nummer {
    width: 20px;
}

.Nummer-text {
    text-align: center;
}

.Bewerk {
    width: 50px;
}

.BewerkMed {
    margin-left: 5px;
}

